{% load staticfiles %}

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
	 <a class="navbar-brand topnav" href="{% url 'bus:index'%}"> <img src="{%static 'images/homepage/icon4.jpg'%}"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                    
                    
			        {% if user.is_authenticated %}
			         <li>
				        <a href="{% url 'account:my_account' %}">My Account</a>
				    </li>
			        <li>
			            <a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a>
			           </li>
			        {% else %}
			       
				    <li>
			            <a href="{% url 'account:register' %}">Sign Up</a>
			            </li>
			            <li>
			            <a href="{% url 'django.contrib.auth.views.login' %}">Login</a>
			            </li>
			        {% endif %}
     				
     				
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
