{% extends "bus_resrv_system.html" %}
{% load staticfiles %}
{% block content %}
<div class="intro-header">
        <div class="container">
		
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                   
                        <h2>Sign Up For Your Account</h2>
                        <h4>...and begin your journey!!!</h4>
                        <hr class="intro-divider">
                        
                        
                        <div class="md-5 col-md-offset-4 column">	
						<form action="." method="post">
						{%csrf_token%}
							{% if form.errors %}
									<div class="row">
										<div class="col-xs-6 alert alert-danger">
										   {{form.errors }}
										    </div>
									 </div>
							{% endif %}
								<div class="row">
								    <div class="form-group col-xs-6">
								    <label for="id_username">{{ form.username.label_tag }}</label>
								    <input id="id_username" maxlength="30" name="username" placeholder="Please enter a username" type="text" class="form-control input-sm ">
								    </div>
								  </div>
								  <div class="row">
										<div class="col-xs-6 alert alert-warning">
								 			 <span class="helptext">Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
										    </div>
									 </div>
								  <div class="row">
								    <div class="form-group col-xs-6">
								    <label for="phone">{{ form.password1.label_tag }}</label>
								    <input id="id_password1" name="password1" placeholder="Please enter a password" type="password" class="form-control input-sm ">
								    </div>
								  </div>
								   <div class="row">
								    <div class="form-group col-xs-6">
								    <label for="phone">Password confirmation:</label>
								    <input id="id_password2" name="password2" type="password" placeholder="Please re-enter your password" class="form-control input-sm ">
								   
								    </div>
								  </div>
								  <div class="row">
								    <div class="form-group col-xs-6">
								    <input type="submit" name="submit" value="Register" class="btn btn-primary" >
								    </div>
								  </div>
						<input type="hidden" name="next" value="{{ next }}" />
						</form>
                    </div>
                    
                    </div>
                </div>
            </div>
		
        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    
  {% endblock %}